*{
    font-family:'Consolas','楷体';
    outline:none;
}

html{
    margin:0;
    padding:0;
    width:100%;
    height:100%;
}
body{
    background-color:#77777710;
    margin:0;
    padding:0 20px;
    width:calc(100% - 40px);
}

h1,h2,h3,h4,h5,h6{
    padding-left:0;
    margin-top:15px;
    margin-bottom:15px;
    font-weight:bold;
    text-decoration:underline solid #77777700;
    transition:padding-left 0.2s,text-decoration 0.2s;
}
h1{ font-size: 220%; }
h2{ font-size: 200%; }
h3{ font-size: 180%; }
h4{ font-size: 160%; }
h5{ font-size: 140%; }
h6{ font-size: 120%; }
h1:hover,h2:hover,h3:hover,h4:hover,h5:hover,h6:hover{
    padding-left:10px;
    text-decoration:underline solid #77777777;
}
h1:active,h2:active,h3:active,h4:active,h5:active,h6:active{
    text-decoration:underline solid #777777F0;
}

button{
    position:relative;
    top:0;
    left:0;
    border:none;
    box-shadow:1px 1px 3px #777777;
    border-radius:2px;
    background-color:#77777720;
    transition:position 0.2s,top 0.2s,left 0.2s,background-color 0.2s,
        box-shadow 0.2s,color 0.2s;
}
button:hover{
    background-color:#77777710;
}
button:active{
    top:1.5px;
    left:1.5px;
    box-shadow:none;
    background-color:#77777700;
}

input,textarea{
    padding:2px;
    border:1px #777777 solid;
    box-shadow:none;
    border-radius:2px;
    transition:box-shadow 0.2s;
}
input:focus,textarea:focus{
    box-shadow:inset 0px 0px 3px #777777;
}

.block{
    width:calc(100% - 60px);
    position:relative;
    margin:10px;
    margin-top:0px;
    padding:10px 20px;
    display:inline-block;
    background-color:#FFFFFF;
    border-radius:3px;
    box-shadow:0px 0px 7px #777777;
}

.block-op{
    position:absolute;
    right:0;
    top:0;
    margin:0;
    padding:10px;
    opacity:0.1;
    transition:opacity 0.2s;
}
.block-op:hover{
    opacity:1;
}

.window{
    position:fixed;
    background-color:#FFFFFF;
    box-shadow:0 0 7px #777777;
    border-radius:3px;
}

.window-op{
    width:calc(100% - 20px);
    height:20px;
    padding:5px 10px;
    margin:0;
    background-color:#F0F0F0;
    border-radius:3px 3px 0 0;
    box-shadow:0 2px 4px -2px #777777;
    user-select:none;
}

.window-title{
    position:absolute;
    right:0px;
    margin-top:2px;
    text-align:center;
    width:100%;
    text-overflow:ellipsis;
}

.window-content{
    margin:0;
    padding:10px;
    overflow:auto;
    border-radius:0 0 3px 3px;
    resize:both;
}

.window-exit,.window-exit:hover{ background-color: #FF6258; }
.window-min,.window-min:hover{ background-color: #FFBF2E; }
.window-max,.window-max:hover{ background-color: #2ACA42; }
.window-ops{
    width:10px;
    height:10px;
    padding:0;
    vertical-align:middle;
    border-radius:5px;
}
.window-ops:active{ background-color: #77777700; }

.content-max{
    resize:none;
    border-radius:0;
}

#navbar{
    margin-top:10px;
    font-size:larger;
    position:sticky;
    top:-3px;
    z-index:9999;
    box-shadow:0px 0px 10px #777777;
}
#navbar-icon{
    height:22px;
    margin:0px;
    vertical-align:text-bottom;
    border-radius:2px;
}

#minbar{
    position:fixed;
    margin-left:-20px;
    width:100%;
    box-shadow:0 -5px 10px -5px #777777;
    bottom:0px;
    padding:3px;
    opacity:0.1;
    background-color:#FFFFFF;
    z-index:10000;
    transition:opacity 0.2s;
}
#minbar:hover{
    opacity:1;
}
