@font-face {
    font-family:'fixedsys';
    font-style:normal;
    font-weight:normal;
    src:url('/static/Fixedsys62.woff') format('woff');
}

.inverted{
    filter:invert(1);
}

html,body{
    width:100%;
    height:100%;
    margin:0px;
}

body{
    background-color:black;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    font-family:'fixedsys';
    font-size:18px;
    color:white;
    user-select:none;
}

#panel{
    padding:5px 10px;
    border:3px solid white;
    transition:width 0.5s,height 0.5s;
    white-space:pre-wrap;
}
#panel > #target{
    width:100%;
    image-rendering:pixelated;
}
#panel > .option{
    padding-left:18px;
    display:inline-block;
    width:calc(50% - 18px);
}
#button,#stat{
    display:flex;
    flex-direction:row;
}

#stat > div{
    margin:5px 10px;
    font-size:15px;
}
#hp{
    display:flex;
    flex-direction:row;
}
#hp > div{
    margin:0px 5px;
}
#blood{ background-color:red; }
#b1,#b2{
    height:100%;
    display:inline-block;
}
#b1{ background-color:yellow; }
#b2{ background-color:magenta; }

#button > div{
    color:orange;
    margin:0px 10px;
    border:3px solid orange;
    padding-left:15px;
    width:50px;
    text-align:center;
    transition:border-color 0.2s,color 0.2s,box-shadow 0.2s,text-shadow 0.2s;
}
#act > div{ transform:scaleX(1.66); }
#item > div{ transform:scaleX(1.25); }
#button > div.selected{
    color:yellow;
    border-color:yellow;
    box-shadow:0 0 5px yellow;
    text-shadow:0 0 5px yellow;
}

#soul{
    z-index:99;
    height:12px;
    position:absolute;
    top:0;
    left:0;
    transition:translate 0.2s;
}
#soul[src='targetline.png']{
    height:80px;
    image-rendering:pixelated;
    transition:none;
}
